@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-container h1 {
  text-align: center;
  margin-bottom: 40px;
}

.puzzle-control button {
  width: 89px;
  height: 43px;
  border-radius: 10px;
  margin-bottom: 17px;
}

.puzzle-box {
  background: #f7f0ca;
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  gap: 6px;
  border-radius: 4px;
}

.puzzle-piece:not(.empty-piece) {
  background: linear-gradient(to bottom, #ffe259, #ffa751);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.puzzle-piece:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}
.puzzle-piece:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}
.puzzle-piece:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
}
.puzzle-piece:nth-child(4) {
  grid-row: 2;
  grid-column: 1;
}
.puzzle-piece:nth-child(5) {
  grid-row: 2;
  grid-column: 2;
}
.puzzle-piece:nth-child(6) {
  grid-row: 2;
  grid-column: 3;
}
.puzzle-piece:nth-child(7) {
  grid-row: 3;
  grid-column: 1;
}
.puzzle-piece:nth-child(8) {
  grid-row: 3;
  grid-column: 2;
}
.puzzle-piece:nth-child(9) {
  grid-row: 3;
  grid-column: 3;
}
